bin/
**/.DS_STORE
civosample.json
build-cluster/kind-config.yaml
build-cluster/kind-config.yaml.TEMPLATE
build-cluster/kind-bind-mount-1
build-cluster/kind-bind-mount-2

image_files/request-diagram.png
image_files/screenshot.png
sum-up.md